@page
@model RecipesFinalProjectController.Pages.SearchModel
@{
    ViewData["Title"] = "Search";
}

<h2>@ViewData["Title"]</h2>

<form method="get" class="row mb-4">

    <div class="col-md-3">
        <input type="text"
               name="title"
               value="@Model.Title"
               class="form-control"
               placeholder="Title" />
    </div>

    <div class="col-md-3">
        <select name="categoryId" class="form-control">
            <option value="">All Categories</option>
            @foreach (var category in Model.Categories)
            {
                <option value="@category.Id" 
                        selected="@(Model.CategoryId == category.Id)">
                     @category.Name
                </option>
            }
        </select>
    </div>
    <div class="col-md-2">
        <input type="number"
               name="maxTime"
               value="@Model.MaxTime"
               class="form-control"
               placeholder="Max Time" />
    </div>
    <div class="col-md-1">
        <button class="btn btn-primary w-100">Filter</button>
    </div>
</form>

<hr />

@if (Model.Recipes.Any())
{
    <div class="row">
        @foreach (var recipe in Model.Recipes)
        {
            <div class="col-md-4 mb-3">
                <div class="card p-3">

                    <h5>@recipe.Title</h5>
                    <p>Category: @recipe.Category.Name</p>
                    <p>Difficulty: @recipe.Difficulty.Name</p>
                    <p>Time: @recipe.PreparationTime min</p>

                    @if (Model.IsLoggedIn)
                    {
                        <form method="post">
                            <input type="hidden" name="recipeId" value="@recipe.Id" />

                            <button type="submit"
                                    asp-page-handler="ToggleFavorite"
                                    class="btn btn-link p-0">

                                @if (Model.FavoriteRecipeIds.Contains(recipe.Id))
                                {
                                    <span style="color:red;font-size:22px;">❤️</span>
                                }
                                else
                                {
                                    <span style="font-size:22px;">🤍</span>
                                }
                            </button>
                        </form>
                    }

                </div>
            </div>
        }
    </div>
}
else
{
    <p>No recipes found</p>
}
